---
import Button from '../components/Button.astro';
import PrimaryLayout from '../layouts/PrimaryLayout.astro';
---

<PrimaryLayout title="About">
  <Button bg="teal" text="white" size="lg">Primary</Button>
  <Button bg="amber" text="white" size="md">Secondary</Button>
  <Button bg="purple" text="white" size="sm">Tertiary</Button>
</PrimaryLayout>
