---
const today = new Date();
---

<footer class="block my-5">
  <div class="p-spacing-unit text-center w-full max-w-7xl mx-auto">
    &copy; {today.getFullYear()} Carlos Matheu Armengol ⚡️
  </div>
</footer>
