---

---

<header class="relative w-full py-5">
  <div class="w-full max-w-7xl mx-auto flex items-center justify-between relative">
    <div class="flex items-center gap-3">
      <img
        src="/plastikaweb.svg"
        alt="Plastikaweb Logo"
        class="w-16 h-16 shrink-0"
        width="60"
        height="60"
      />
      <div class="flex flex-col gap-1">
        <h1 class="text-2xl font-bold">Carlos Matheu</h1>
        <p class="subtitle">Freelance Angular Developer</p>
      </div>
    </div>
    <nav>
      <ul class="flex gap-3">
        <li><a href="#">Home</a></li>
        <li><a href="#">About me</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </nav>
  </div>
</header>
