@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
	--color-orange-400: hsl(5, 86%, 62%);
	--color-yellow-400: hsl(33, 79%, 61%);

	--color-neutral-100: hsl(48, 71%, 99%);
	--color-neutral-200: hsl(237, 20%, 80%);
	--color-neutral-400: hsl(252, 2%, 41%);
  --color-neutral-800: hsl(240, 100%, 5%);
	--color-neutral-900 : hsl(238, 92%, 5%);

  --color-accent-400: var(--color-orange-400);

  --ff-base: 'Inter', sans-serif;

--fw-regular: 400;
--fw-semi-bold:700;
--fw-bold: 900;

--fs-400: 1rem;
--fs-500: 1.25rem;
--fs-600: 1.5rem;
--fs-700: 1.5rem;

--lh-base: 1.5;

--radius-base: 0.5rem;

--z-sticky: 100;
--z-fixed: 200;
--z-modal: 300;
--z-overlay: 400;
--z-max: 500;
}